{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "keepClassNames": true,
    "paths": {
      "#/*": ["./src/*"]
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "noInterop": true
  }
}
